.section-team-1,
.section-team-2 {
  h5.description{
    margin-bottom: 130px;
  }
}

.section-team-2{
  .md-card{
    .title{
      margin: 10px 0 0;
    }
    h6{
      margin-top: 5px;
    }
  }
}

.section-team-3,
.section-team-5{
  .card{
    text-align: left;

    .footer{
      margin-top: 0;
    }
  }
  h5.description{
    margin-bottom: 70px;
  }
}

.section-team-4{
  h5.description{
    margin-bottom: 100px;
  }
}
