.section-testimonials-2 {
  .VueCarousel-wrapper .VueCarousel-inner {
    .md-card {
      margin: 60px auto;
      max-width: 650px;
    }
  }
}

.section-testimonials {
  .description {
    margin-bottom: 70px;
  }
}
