.login-page {
  .footer {
    position: absolute;
    width: 100%;
    background: transparent;
    bottom: 0;
    color: $white-color;
    z-index: 1;

    .copyright a{
      color: $white-color;
    }
  }

  .page-header {
    height: 100%;
    min-height: -webkit-fill-available;

    &::before {
      background: rgba(0,0,0, .2);
    }

    > .container {
      padding-top: 100px;
      padding-bottom: 150px;
    }
  }

}
