.product-page {
  .title-row {
    margin-top: -8vh;
  }

  .related-products .title {
    margin-bottom: 80px;
  }

  .pick-size,
  .related-products {
    margin-top: 50px;
  }

  .main-price {
    margin: 10px 0 25px;
  }

  .main-raised {
    margin: -42.5vh 0 0;
    padding: 40px;
  }
}
